.intro-background{
    background-image: url("./Kora_image_resources/cytonn-photography-n95VMLxqM2I-unsplash.jpg");
    background-size:    cover;
    background-repeat: no-repeat;
    background-position: center;
}